.radioSelected{
    border-radius: 25px;
    background: rgb(207, 226, 243);
    width: 200px;
    height: 30px; 
}

li[data-index] div{
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}

li[data-index] input[type=color]{
    margin-left: 5px;
    height: 20px;
    width: 50px;
}

li[data-index] input[type=text]{
    height: 20px;
    width: 100px;
    margin-left: 5px;
    padding:0;
}
li[data-index] a{
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    padding:0;
}
